//! **************************************************************************
// Written by: Map P.58f on Tue Aug 02 01:42:19 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
SCHEMATIC END;

